<!doctype html>
<html lang="ar-SA" dir="rtl">
<head>
<% include ../partials/head %>
<title>ذكر | غير موجود</title>
</head>
<body>
          <% include ../partials/nav %>
              <div class="jumbotron jumbotron-fluid abayro-land-jumbotron" style="border-bottom: 5px solid rgb(0, 102, 255)">
                <div class="container">
                  <div class="text-center">
                    <h1 class="display-3 bold animated bounceInDown" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">خطأ 404</h1>
                    <p class="lead bold animated bounceInUp" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">لم يتم إيجاد هذه الصفحة في سيرفر أبايرو</p>
                    <p style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);font-size: 13.5px" class="animated bounceInUp">الرجاء الدخول سيرفر المساعدة والتبليغ عن هذه المشكلة لو تكررت معك</p>
                    <a href="/">
                    <button class="btn btn-primary btn-raised">
                      إرجع الى الصفحة الرئيسية
                    </button>
                    </a>
                  </div>
                </div>
              </div>

<% include ../partials/footer%>
<% include ../partials/scripts%>
</body>

</html>