<!doctype html>
<html lang="ar" dir="rtl">

<head>
<% include ../partials/head %>
<title>ذكر | تمت العملية</title>
</head>
<body id="result">
           <% include ../partials/nav %>
              <div class="jumbotron jumbotron-fluid zkr-jumbotron" style="border-bottom: 5px solid rgb(0, 102, 255)">
                <div class="container">
                  <div class="text-center">
                    <h1 class="display-3 bold animated bounceInDown" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">شكراً لك!</h1>
                    <p class="lead bold animated bounceInUp" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">تم ربط حسابك بالبوت, سيتم نشر ذكر لك كل ساعة. </p>
                  </div>
                </div>
              </div>

<% include ../partials/footer%>
<% include ../partials/scripts%>
</body>

</html>