<!-- META -->
<title>ذكر | بوت لنشر الأذكار على حسابك في تويتر يومياً</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Abady">
<meta name="title" content="تطبيق ذكر">
<meta name="description" content="بوت لنشر الاذكار على حسابك في توتير يومياً">
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@ii_Abady" />
<meta name="twitter:description" content="بوت لنشر الاذكار على حسابك في توتير يومياً" /> 
<meta name="twitter:image" content="https://zkr.abady.me/img/zkr.png" />
<meta property="og:url" content="https://zkr.abady.me">
<meta property="og:type" content="website">
<meta property="og:title" content="تطبيق ذكر">
<meta property="og:description" content="بوت لنشر الاذكار على حسابك في توتير يومياً">
<meta property="og:image" content="/img/zkr.png">
<link rel="icon" href="/img/zkr.png" type="image/png">
<!-- END OF META -->

<!-- MATERIAL DESIGN BOOTSTRAP -->
<link href="https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&display=swap&subset=arabic" rel="stylesheet">
<link rel="stylesheet" href="/css/zkr.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/paper-kit.min.css">
<!-- END OF MATERIAL DESIGN BOOTSTRAP -->